body{
  background: #000;
}

#background {
  background-color: #0b092e;
  background-image: url('../images/stars.gif');
  height: 500px;
  width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -375px;
}

#hero {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 425px;
  left: 350px;
}

#missiles {
  position: absolute;
  height: 500px;
  width: 750px;
}

#enemymissiles {
  position: absolute;
  height: 500px;
  width: 750px;
}

#tomatoes {
  position: absolute;
  height: 500px;
  width: 750px;
}

.missile {
  position: absolute;
  background-image: url("../images/missile.png");
  height: 10px;
  width: 10px;
}

.enemymissile {
  position: absolute;
  background-image: url("../images/enemy_missile.png");
  height: 10px;
  width: 10px;
}

.tomato {
  height: 50px;
  width: 50px;
  position: absolute;
}

.ella {
  position: absolute;
  height: 350px;
  width: 450px;
}

.blackout {
  background: #000;
  position: absolute;
  height: 13%;
  width: 80%;
  margin-top: -50px;
  z-index: 999;
}

#alert {
  position: absolute;
  top: 150px;
  left: 25px;
  font-family: 'Space Mono', monospace;
  font-size: 32px;
  letter-spacing: 10px;
  color: red;
}

#score {
  position: absolute;
  top: 475px;
  left: 625px;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  color: red;
}
